@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@import "tailwindcss";

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary: oklch(0.985 0 0);
  --color-primary-dark: oklch(0.269 0 0);
  --color-secondary: #2c5282;
  --color-tertiary: #2d3748;
}

@utility container {
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

@layer components {
  .card{
    @apply bg-white shadow-md rounded-lg p-6 max-w-xl;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
}