@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@import "tailwindcss";

:root {
  --radius: 0.6rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* This could be background colour */
  --color-primary: oklch(0.985 0 0);
  --color-primary-dark: oklch(0.269 0 0);
  /* This could be like text colour */
  --color-secondary: #2c5282; 
  /* this is the special colour that stands out */
  --color-accent: #2d3748;
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto py-8;
  }
}

@layer components {
  .card{
    @apply bg-white shadow-lg rounded-lg p-6 max-w-xl;
  }
  .dimmed-text {
    @apply text-sm text-gray-500;
  }
}

@layer base {
  body {
    @apply bg-primary dark:bg-primary-dark text-primary-dark dark:text-primary antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
  }
  section {
    @apply py-12 px-4 md:px-8 my-8;
  }
  h1 {
    @apply text-4xl font-bold tracking-tight text-primary-dark dark:text-primary sm:text-5xl;
  }
  h2 {
    @apply text-3xl font-semibold tracking-tight text-primary-dark dark:text-primary sm:text-4xl;
  }
  h3 {
    @apply text-2xl font-medium tracking-tight text-primary-dark dark:text-primary sm:text-3xl;
  }
  p {
    @apply mt-2 text-lg text-gray-700;
  }
  hr {
    @apply h-px bg-neutral-200 border-0 dark:bg-neutral-600;
  }
}